.editar-perfil.button {
  background-color: #fdfeff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  padding: 15px;
  color: #ed2590;
}
.editar-perfil.button:hover {
  background-color: #ececec;
}

.editar-perfil a {
  font-size: 18px;
  font-weight: 500;
  line-height: 24px;
}
